@media (max-width:1199px) {
	
.eagle-gallery.img400 .eagle-medium-wrap { height: 340px; }
.navbar-left img { margin-top:0; }
.top-header ul li.dropdown button, .top-header ul li a { font-size:12px; }
.my-account .submit-button { font-size:12px; }
.packages .area-select span { font-size:16px; }
.packages .area-select .dropdown span { font-size:18px; }

}

@media (min-width:992px) and (max-width:1200px)
{
	
.bottom-search-box{width: 152px;}	
.bottom-search-box .search-button{ width:163px; font-size:26px;}
.my-account .nav-tabs li{ width: 156.6px;}
.my-account .nav-tabs li a{ font-size:16px;}
.employe-profile { height: 120px;}
.employe-list{width: 155px;}
.employe-content h1{font-size: 18px;}
	
}

@media (min-width:768px) and (max-width:991px)
{

.bottom-header { margin-top:20px; }
.bottom-header .navbar-left, .bottom-header .navbar-right { width:50%; }
.navbar-left img { margin:0; }
.custom-container{ width:768px; padding: 0 15px;}
.logo-box{ width:230px;}
.header-ad{ width:60%;}
.banner-box h1, .banner-box h2 { font-size:28px; }
.bottom-search-box{ width: 16.3%;}
.banner-box .SumoSelect .CaptionCont span { font-size:18px; padding: 10px 0 0; }
.bottom-search-box .search-button{right: -6px;width: 105%; font-size: 18px;}
.bottom-search-box .search-button i { font-size:21px; }
.menu-bottom-header ul li a, .top-footer ul li a{ padding:10px; font-size: 14px;}
.slider-text{ left: 10px; top: 20px;}
.slider-text h1{ font-size: 28px;}
.slider-text h2{font-size: 20px;}
.slider-text h3{font-size: 22px;}
.criteria-title{font-size:12px;}
.eagle-gallery.img300 .eagle-medium-wrap{ height:380px;}
.sidebar-button{ font-size: 12px;}
.left-menu .btn.btn-primary{ font-size:18px; width:85px; }
.left-menu .well ul li a{ font-size:11px;}
.More-button button.btn.btn-primary{ padding: 11px 10px;}
.slider-text button{ font-size: 18px;}
.property-list p.blue-title { font-size: 18px;}
.property-list p.blue-sub-title { font-size: 16px;}
.property-list p.prize-txt{ font-size:28px;}
.property-content { min-height: 65px; }
.mortgage-total img { margin-top:10px; float:none; }

.mortgage-total input { font-size:14px; }
.my-account .nav-tabs li{ width:120px;}
.my-account .nav-tabs li a{ font-size:16px;}
.profile-name{ font-size:16px;}
.my-account .form-group label{ font-size:14px;}
.employe-list{margin: 0 15px 15px 0; width: 125px;}
.employe-profile{ height: 90px;}
.employe-content h1{ font-size: 16px;}
.product-table-box li.title span span{ font-size:36px;}
.product-table-box ul li.button-box button{ padding:0 32px;}
.product-table-box ul li{ font-size:16px;}
.product-table-box ul li.number-row { font-size: 18px;}
.headertop h4{ font-size:14px;}
.footer-title { font-size:26px; }
.eagle-gallery.img400 .eagle-medium-wrap { height: 254px; }
.property-infos { margin-bottom: 40px; }
.fb-share { position: absolute!important; top: 155px; }
.side_right a { font-size:14px; }
.right-arrow, .left-arrow { top:-160px; }
.my-account .submit-button { font-size:16px; }
.my-account .search-list div { margin-bottom:20px; }
.featured-list img { height:105px; }
.packages .area-select span { font-size:13px; }
.packages .area-select .dropdown span { font-size:16px; }

}

@media (min-width:768px) {
	.mobile-menu { display:none; }
}

@media (max-width:767px)
{

.header { margin-top:56px; }
.top-header ul li.dropdown button { padding: 9px 6px; font-size:11px; }	
.top-header ul li a { padding: 9px 6px; font-size:11px; }
.custom-container{ width:100%; padding:0 15px;}
.logo-box{ width:170px; float:left;}
.bottom-header .navbar-left { text-align:center; }
.bottom-header .navbar-right { display:none; }
.navbar-left img { margin-top:0; margin-bottom:10px; }
.header-ad{ width:60%; float:right;}
.top-header .navbar-right{ float:right;}
.bottom-search-box .search-button i { font-size:16px;}
.bottom-search-box .search-button{ width: 120%;right: -14px;font-size: 12px;}
.bottom-search-box{width:16%;}	
.bottom-search-box .SumoSelect .CaptionCont span{ font-size:18px;}
.bottom-search-box .SumoSelect .CaptionCont label i{ right:-7px;}
.ui-slider-box .price_rang_a { font-size:10px; }
.testimonials-box{ width: 230px;margin: 0 auto 60px;}
.saved-text-box{ width: 250px; margin: 0 auto 20px;}
.menu-bottom-header ul li a, .top-footer ul li a{ font-size:12px; padding:10px 8%;}
.side-box{ text-align:center;}
.center-footer .col-sm-3{ margin-bottom:20px;}
.center-footer .col-sm-3:last-child{ margin-bottom:0;}
.footer-title{ font-size: 24px; margin-bottom: 15px; padding-bottom: 5px;}
.content-center-box{ margin:15px 0;}
.left-col{ margin-bottom:20px; padding:0 15px;}
.right-col{ padding:0 15px;}
.footerMap ul li{ width:29%;}
.title-1, .title-2{ font-size:25px;}
.profile-pic{width: 160px;}
.profile-name{ text-align:left;margin: 0 0 15px;} 
.my-account .nav-tabs li a{ font-size: 16px;}
.banner-box{ height:auto; padding:20px 0 10px;}
.my-account .nav-tabs li{width:16.6%;}
.my-account{margin:0;}
.contact-detail-box{ margin-bottom:15px;}
.contact-detail-box:last-child{ margin-bottom:0;}
.employe-list:nth-child(5n) { margin-right:15px;}
.employe-list:nth-child(3n) { margin-right:0px;}
.employe-list{ margin: 0 15px 15px 0; width:30.9%;}
.employe-profile { height: auto;}
.ui-slider-box { padding: 0 10px;}
.immo-modal .modal-dialog { width: 470px;}
.login-tab .tab-content{ padding: 40px 60px;}
.product-table-box li.title span span{ font-size:26px;}
.product-table-box li.title span span sup{ font-size: 14px;}
.product-table-box ul li.number-row { font-size: 16px;}
.product-table-box ul li.button-box button{ padding:0 25px;}
.product-table-box ul li{font-size: 14px;}
.resgister-form .textarea-height textarea{ margin:0;}
.resgister-form .textarea-height{ margin-bottom:15px;}
.resgister-form .textarea-height textarea ,.resgister-form .normal-height .textarea-height textarea{ height: 160px;}
.bottom-inner-content { width:100%; }
.fb-share { position:absolute!important; top:140px; }
.tab-box { margin-bottom: 30px; }
.property-infos { margin-bottom:40px; }
.left-menu { display:none!important; }
.mobile-menu { display:block; background: #0061b0; padding: 10px 5px; position: fixed; top: 0; width: 100%; left: 0; z-index: 9999; }
.mobile-menu .btn.btn-primary { border-radius: 0; border: none; background: none; color: #fff; width: 100%; height: 36px; font-size: 30px; margin: 0; padding: 0; box-shadow: none; text-transform: uppercase; font-weight: 700;
}
.mobile-menu .well { border-radius: 0; border: none; background: none; padding: 0; margin: 0; box-shadow: none; }
.mobile-menu .well ul { margin: 0; padding: 5px 0 0; }
.mobile-menu .well ul { margin: 0; padding: 5px 0 0; }
.mobile-menu .well ul li a { display: block; color: #0061af; font-size: 20px; font-weight: 700; text-transform: uppercase; width: 100%; padding: 10px 5px; background: #fff; transition: all 0.5s ease-out 0s; }
.mobile-menu .well ul li a:hover, .mobile-menu .well ul li a:focus { background: #dfdfdf; text-decoration: none; }
.banner-box h1, .banner-box h2, .mortgage-box h2, .bottom-inner-content h2, .packages h2, .content-title   { font-size:24px; }
.content-sub-title { font-size:18px; line-height:24px!important; }
.bottom-inner-content ul li { font-size: 21px; }
.bottom-inner-content ul li i { font-size: 26px; }
.eagle-gallery.img400 .eagle-medium-wrap { height: 435px; }
.banner-box.building {	padding:20px 0 30px; }
.menu-bottom-header, .top-footer { display:none; }
.header-right { float:none!important; text-align:center; }
.modal-dialog { margin:100px 10px 0;}
.immo-modal .modal-dialog { margin:100px auto 0; }
.my-account .submit-button { font-size:16px; }
.my-account .search-list div { margin-bottom:20px; }
.packages .tbl_scroll { width: 100%; overflow-y: auto; }
.packages .tbl_scroll table.dimen_tbl{ width:945px;}
.packages .area-select span { font-size:18px; }
.packages .area-select .dropdown span { font-size:18px; }

}


@media (max-width:695px)
{
.eagle-gallery.img300 .eagle-medium-wrap { height: 410px;}	

}

@media (max-width:694px)
{
.eagle-gallery.img300 .eagle-medium-wrap { height: 320px;}	
.my-account .nav-tabs li a{ font-size: 12px;}
.my-account .nav-tabs li{width:16.6%;}
.my-account{margin:0;}
.product-table-box ul li.number-row { font-size: 12px;}
.product-table-box li.title span span { font-size: 18px;}
.product-table-box li.title span span sup { font-size: 12px;}
.product-table-box ul li{ padding:8px 10px;}
.product-table-box ul li.button-box button { padding: 0 14px;}
.product-table-box li.title{ height:100px;}
.resgister-form .setup-content-box{ min-height:auto;}


}


@media (max-width:480px)
{
.logo-box{ float:none; width:100%; margin-bottom:15px; text-align:center;}
.header-ad { float:none; width:100%;}
.top-header ul li i { margin-right: 5px;}
.top-header ul li.dropdown button,.top-header ul li a{font-size:11px; padding: 9px 5px;}
.top-header ul li{margin-right: 3px;}
.banner-box{ height:auto; padding:20px 0;}
.title-1, .title-2{font-size:14px;}
.bottom-search-box { margin: 0 2px 5px; width: 48.5%;}
.bottom-search-box:nth-child(2n){ margin-right: 0;}
.bottom-search-box:last-child{ margin-bottom:0;}
.ui-slider-box .price_rang_a { font-size: 14px;}
.bottom-search-box .search-button { background:#fff; color:#F26522; font-size: 18px; height:40px; position: static; right: 0; width: 100%;}
.bottom-search-box .search-button i { font-size: 20px;}
.bottom-search-box .search-button:hover, .bottom-search-box .search-button:focus { background:#dfdfdf;}
.property-list, .featured-list{ float:none; width:100%; margin:0 0 10px;}
.property-list a{ padding: 5px;}
.property-list:last-child, .featured-list:last-child{ margin:0;}
.bottom-inner-content{ width:100%;font-size: 18px;}
.bottom-inner-content button{ font-size: 18px;margin-bottom: 15px;}
.menu-bottom-header ul li, .top-footer ul li{ display: inline-block; width: 33%; border-right:none; border-bottom:1px solid #f26522 !important;}
.menu-bottom-header ul li:nth-last-child(-n+4), .top-footer ul li:nth-last-child(-n+4) { border:none!important; }
/*.top-footer ul li:last-child{ border:none;}
.top-footer .custom-container{ padding:0;}*/
.slider-text h1{font-size:32px;}
.slider-text h2{font-size: 22px;}
.slider-text h3{ font-size: 24px;}
#banner-slider{ height: 127px; overflow: hidden;}
.blue-box,.orange-box{ float:none; width:100%;}
.slider-text button{ padding: 5px 15px; font-size: 18px;}
.criteria-title{line-height: normal;font-size: 12px;}	
.property-choices label { font-size:12px; }
.list-img-box{ width:30%;}
.list-content-box { float: none; width: auto;}
.footerMap ul li { min-height: 55px; width: 44%;}
.tab-box .nav-tabs li a{ padding: 10px 15px 10px 10px; font-size: 14px;}
.eagle-gallery.img300 .eagle-medium-wrap { height: 200px;}
a.headlink{ float:none;}
.exp_left{ display:block; width:100%;}
.text_field{ width: 58%;}
.form_scnd .field_name{  width: 40%;}
.boxone{ width: 75%;}
.immo-modal .modal-dialog { width: 95%;}
.modal-logo img{ width: 210px;}
.my-account{ margin:0;}
.my-account .nav-tabs li{ width:33.2%;}
.my-account .nav-tabs li a{ font-size:12px; line-height:16px; padding:4px 0 0;}
h1.list-title, h1.list-title a{ font-size:16px;}
.employe-list:nth-child(5n),.employe-list:nth-child(3n) { margin-right:15px;}
.employe-list:nth-child(2n) { margin-right:0px;}
.employe-list{ margin: 0 15px 15px 0; width:47%;}
.employe-profile { height: auto;}
.ui-slider-box { padding: 0 10px;}
.employe-content h1{font-size: 16px;}
.employe-profile { height: 90px;}
.employe-content{  font-size: 12px; min-height: 145px;}
.contant-box .panel-group .panel-heading a{  font-size: 16px;}
.follow-box ul li{ margin-right:1px;}
.login-tab .tab-content { padding: 20px 10px;}
.login-tab .nav-tabs li a{ width: 120px;}
.product-table-box li.title span span{ font-size:12px;}
.product-table-box li.title span span sup { font-size: 11px; top:-0.5em;}
.product-table-box ul li {font-size: 12px;}
.product-table-box li.title { height: 80px;}
.product-table-box ul li.button-box{ padding: 25px 5px;}
.product-table-box ul li.button-box button { padding: 0 6px;}
.product-table-box{ padding:0;}
.SumoSelect .optWrapper{ width:200px;}
.SumoSelect > .CaptionCont{  width: 100%;}
.SumoSelect{ display:block;}
.add-button-box{ width:20px;}
.property-button,.More-button button.btn.btn-primary{ font-size:12px;}
.More-button button.btn.btn-primary { padding: 8px 10px; line-height: 1.37em; }
.top-header ul li.dropdown button, .top-header ul li a { font-size: 9px; padding: 9px 4px;}
.mortgage-btn { width:100%; margin-bottom:20px; }
.mortgage-total img {float: none;}
.mortgage-partner { width:100%; }
.featured-box .all-featured-properties .btn { font-size:14px; }
.top-header ul li.social-icon { display:none; }
.eagle-gallery.img400 .eagle-medium-wrap { height: 270px; }
.right-arrow, .left-arrow { top:-160px; }
.my-account .submit-button { font-size:12px; }
.featured-list img { height:auto; }
.packages .text_field { width:100%; }


}

@media (max-width:420px) {
	.tab-box .nav-tabs li { margin: 0 1px 0 0; }
	.fb-share { top:180px; }	
}